body{
    background-color: #473a8d;
}

.home-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.text-center{
    text-align: center;
    color: white;
}

.play-btn{
    width: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 255, 105);
}

.play-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}