body{
    color: #000;
}

.result-heading{
    color: white;
    text-align: center;
}

.dialogbox{
    width: 70vw;
    height: fit-content;
    background-color: white;
    border-left: 10px solid #8686f3;
}

.noofq{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.noofa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.noofc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.noofw{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.dialogbox h2{
    padding: 20px;
}

.two-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

#play-again{
    background-color: rgb(80, 255, 80);
}

#play-again:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#back-2-home{
    background-color: rgb(255, 80, 80);
}

#back-2-home:hover{
    cursor: pointer;
    transform: scale(1.1);
}